/*index.js*/
* {
    box-sizing: border-box;
}
 body{
   /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    font-family: sans-serif;
    height: fit-content;
    width: 100vw;
    position:relative;
    box-sizing: border-box;
    overflow-x: hidden;
}

[class*="col-"] {
   float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
.accessible-header-container-center{
    background-color: #101044;
    text-align: center;

}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%; height: 80vh;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%; }
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%; height: fit-content;}
}

@media only screen and (min-width: 1071px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;  height: 80vh; width: 200px}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .accessible-header-container-start {
        text-align: start;
        background-color: #101044;
        width: 100vw;
        height: fit-content;
        position: relative;
        box-sizing: border-box;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
    position: absolute;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color:  #101044;  /* color of the scroll thumb */
    border-radius: 25px;       /* roundness of the scroll thumb */
    border: 1px solid aliceblue;  /* creates padding around scroll thumb */
}




/* Header
.accessible-header-container {
    text-align: start;
    background-color: #101044;
    width: 100vw;
    height: fit-content;
    position: relative;
    box-sizing: border-box;
}
header{
    width: 100%;

}
*/
.logo{
    margin-left: 30px;
    width: 200px;
}

:focus{
    outline-color:#16A7EC;
}

.skip-link {
    left: 0;
    top: 0;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border:#101044 solid;
    border-radius: 6px;
    background-color: white;
    color: #101044;
}

.skip-link:focus {
    transform: translateY(0%);
}

.current{
    font-style: italic;
    font-weight: bold;
}


/*headings*/
h1{
    margin: 0;
    color: #101044;
    font-weight: bold;
    padding: 35px 0 35px 35px;
}
h2{

    color: #101044;
    font-weight: normal;
}

h3{
    margin-top: 0;
}

.navdiv{
    margin: 1px;
}


nav{
    margin: 0px;
    background-color: white;
    color: midnightblue;
    justify-content: start;
    overflow: auto;
    padding: 1px;
    min-width: 250px;
    display: inline-block;
}


nav a{
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;

}

nav a:focus {
    border: #101044;
    text-decoration: none;
    margin-right: 1px;
}

nav a.active{
    font-style: italic;
    font-weight: bold;
}

nav a:hover {
    color: #287693;
    font-style: italic;
}


nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
nav li{
    margin-left: 0;
}

.focusableHeader{
    padding-bottom: 0;
}

.focusableHeader:focus {
    outline: none;
}
/*
a.nav-mainlink{
    color: pink;
    padding: 5px;
    border: #101044 solid;
    border-radius: 15px;
}

a.nav-mainlink:visited{
    color: red;

}

a.nav-sublink{
    color: pink;
    padding: 5px;
    border: #101044 solid;
    border-radius: 15px;
}

a.nav-sublink:visited{
    color: #61bb01;

}

a.active {
    border: 2px solid  #f51d19 !important;
}




a:link{
    color: midnightblue;
}

a:visited{
    color: #61bb01;
    padding: 5px;
    border: #101044 solid;
    border-radius: 15px;
}
a:hover{
    color: #125975;
}

a:active{
    color: #101044;
}*/
/*breadcrumbs*/

.breadcrumbs {
    padding:8px 0 0 0;
    width:fit-content;
    margin-left: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-items: start;
    background-color: white;
    min-height: 35px;
}


.breadcrumbs > *{
    display: inline-block;

}

.breadcrumbs .breadcrumb a{
    color: #287693;
    text-decoration: none;
    display: inline-block;
}

.breadcrumbs .breadcrumb a:hover{
    color: #125975;
    text-decoration: none;
}


/*.breadcrumbs .breadcrumb:last-child a{
    color: black;
    pointer-events: none;
    font-weight: normal;
    font-style: normal;
}*/

.breadcrumbs .breadcrumb .arrow-icon{
    margin: 2px 0 0 15px ;
    padding-top: 3px;
    width: 15px;
    height: 15px;
}

.breadcrumbs .breadcrumb:last-child .arrow-icon{
     display: none;
 }

.breadcrumbs .breadcrumb .breadcrumb-last{
    padding: 8px 0px 8px 16px;
}

/*
.arrow-icon:last-child:after{
    display: none;
}*/



.menu-items .link-button-div{
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem 0.2rem 0rem;
    width: 100%;

}

.block{
    display: block;
    overflow: auto;
    width: fit-content;
}


.codeblock{
    overflow: auto;
    background: white;
    border-left: #101044 1px solid;
}

.code-example-header{
    border-bottom: #101044 solid 2px;
    width: 100%;
    padding: 10px 0 0 10px;
}

.code-example-header h3{
    font-size: 15px;
    font-family: Consolas;
    margin-bottom: 2px;
}


.flex-box{
    display: flex;
    justify-content: space-between;

}

.float-up-right{
    position: relative;
    float: right;
    margin-top: 5px;

}

.copy-button {
    font-size: 17px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 25%;
    padding: 2px 0 2px 0 ;
    width: 25px;
    height: 25px;

}

.copy-button:hover {
    border: #101044 solid 2px;

}


.button-div{
    margin-left: auto;
    margin-right: 2rem;
}

.menu-items button {
     color: inherit;
     font-size: 20px;
     border: none;
     background-color: transparent;
     cursor: pointer;
     padding: 10% 0 0 0 ;
     width: 25px;
     height: 23px;


 }

.menu-items button:hover {
    color: #287693;
}

.dropdown {
    margin-left: 3vh;
    list-style: none;
    display: none;


}

.dropdown.show {
    display: block;

}

.dropdown .dropdown-submenu {
    margin-left: 6vh;

}


.scroll-page-container{
    padding: 20px 10px;
    height: 80vh;
    background-color: aliceblue;
    position: relative;
 /*   overflow-x: hidden;*/
    overflow-y: auto;
    border-left: #101044 2px solid;

}

.non-scroll-page-container{
    padding: 10px;
    background-color: aliceblue;
    position: relative;
    overflow: auto;
    border-left: #101044 2px solid;

}

.page-container{
    height: fit-content;
    overflow: auto;
    position: relative;
    padding-bottom: 10px;
    min-height: 74vh;

}




/*
.examplebox{
    width: 50%;


}*/


.float-right{
    position: relative;
    float: right;
    margin-bottom: 25px;

}



.criteriabox{
  /*  border-radius: 5px;*/
    background-color: white;
    padding: 20px 20px 20px 30px;
    position: relative;
    margin-top: 0;
    border-bottom: #101044 2px solid;
    border-top: #101044 2px solid;

}


.criteriabox h2{
    padding-left: 0;
    margin-top: 0;

}

.criterialist {
    list-style: none;
}
  /*  max-height: 35px;
    transition: height 0.4s ease-in;

}

.criterialist.active{
    max-height: fit-content;
    height: fit-content;
}*/

.criterialist .text-button-div{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem 0.2rem 0rem;
    width: 100%;
}
.criteriaName{
    padding: 0 20px 0 0 ;
    margin:0;
    font-weight: bold;
}

.arrow-button {
    color: inherit;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 ;
    width: 25px;
    height: 25px;

}

.arrow-button:hover {
    color: #287693;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.criteria-info-box{
    padding-bottom: 15px;
    transition: max-height 200ms ease, opacity 200ms ease;

}


.criteriaLevelBox{
    background-color: rgba(68, 137, 159, 0.68);
    font-weight: bold;
    width: fit-content;
    padding: 5px 15px 5px 15px;
}


.criteria-sublist li{
    padding-bottom: 5px;
    margin-right: 4px;
}

.criteria-info-box a{
    color: #101044;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
}
.criteria-info-box a:hover{
    font-style: italic;
}

.additional-note-div{
    background-color: rgba(200, 248, 150, 0.77);
    padding: 3px;
    margin: 10px 0 10px 0;
}
.bold-text{
    font-weight: bold;
    font-size: small;
    color: rgb(57, 112, 2);
    margin: 5px 5px 2px 5px;
}
.note-text{
    margin: 0 10px 5px 15px;
}
/*
.next-button-div{
    position: absolute;
    right: 35px;
    bottom: 35px;
}*/

.next-page-button{
    overflow: auto;
    position: absolute;
    right: 35px;
    bottom: 25px;
    color: midnightblue;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.next-page-button:hover {
    color: #287693;
    font-weight: bold;
}

/*Painike/button*/
.example-button-div{
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
}

.button-example1{
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    border:#101044 1px solid;
    border-radius: 10px;
    background-color: #101044;
    color: white;
    cursor:pointer;

}
/*
.button-example1:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #16A7EC;
}
*/
.button-example1:hover {
    color: #ffffff;
    transition: 0.3s;
    opacity: 0.9;
    font-style: italic;
}
.active-basicbutton {
    opacity: 0.7;
    background-color: #125975;
    border: 1px #125975 solid;
    color: white;
    pointer-events: none;
}

.active-togglebutton {
    opacity: 0.7;
    background-color: #125975;
    border: 1px #125975 solid;
    color: white;
}
/*
.button-example2{
    color: #101044;
    width: 100px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 2px;
    justify-content:center;
}
.button-example2:hover{
    color: #287693;
    font-weight: bold;
    transition: 0.7s;
}
.button-example2:active{
    color: #287693;
    font-style: italic;
}

.button-example3{
    width: 110px;
    font-weight: bold;
    background: radial-gradient(100% 100% at 100% 0, #5adaff 0, #287693 100%);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    justify-content:center;
    color: white;
}

.button-example3:hover{
    background: radial-gradient(100% 100% at 100% 0, #287693 0, #7fcce7 100%);
    color: black;
    transition: 0.9s;
}
.button-example3:active{
    color: #287693;
    font-style: italic;
}

*/
/*
pre{
    margin-top: 25px;

}
pre code {
    display: block;
    padding: 20px;
}

pre code p{
    margin: 0 0 0 25px;
    color: black;
}
*/